@import "./common.css";

#wrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  align-content: center;
  display: inline-grid;
  align-items: center;
  background-color: var(--color-bg);
}

.counter,
.counter_spacer {
  height: 5rem;
}

#wrapper,
.counter {
  width: 100vw;
  justify-content: center;
}

.counter {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-black);
  opacity: 0;
}

.counter_ratio {
  font-weight: 700;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}

.scene {
  width: 308px;
  height: 468px;
  perspective: 600px;
  margin: 3rem auto;
}

.scene::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 328px;
  height: 488px;
  border-radius: 32px;
  border: 6px dashed #00000030;
  z-index: 0;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.card:last-of-type {
  pointer-events: all;
}

.card[data-is-flipped="true"] {
  transform: rotateY(180deg);
}

.card[data-is-flipped="true"][data-is-removed="true"] {
  transform: rotateY(180deg) translateY(200%);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.card__face--back,
.card__face--front {
  box-shadow: 0 0 0 16px var(--color-form);
}

.card__face--front {
  background: #a7c0d1;
  color: var(--color-form);
  display: flex;
}

.card__face--front p.title {
  font-size: 1.5rem;
}

.card__face--back p.title {
  font-size: 1.75rem;
}

.card__face p.title {
  margin: auto;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
p.small_text {
  left: 50%;
  margin: 0;
}

.card__face p.title,
p.small_text {
  position: absolute;
  line-height: normal;
}

p.small_text {
  font-weight: 400;
  width: 90%;
  font-size: 0.8rem;
  transform: translateX(-50%);
  bottom: 24px;
  display: inline-block;
  height: auto;
}

.card__face--back {
  background: var(--color-form);
  transform: rotateY(180deg);
  color: var(--color-black);
}

h1 {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.complete,
.hydrated {
  transition-duration: 0.5s;
}

.complete {
  position: relative;
  transform: translateY(-1000%);
}

.hydrated {
  opacity: 1;
}
